        header {
            background-color: #333;
            padding: 20px;
            text-align: center;
        }

        nav a {
            color: white;
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
        }

        nav a:hover {
            color: #4CAF50;
        }
#main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    padding-bottom: 0%;
}
#mains {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 0vh;
    padding-bottom: 0%;
}
#clock {
    color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #333;
    border-radius: 15%;
}
#Date {
    color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #333;
    border-radius: 15%;
}

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #display {
    font-size: 72px;
    font-weight: bold;
    color: #00ff00;
    font-family: 'Courier New', monospace;
    text-shadow: 0 0 10px #00ff00;
} */