*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
body{
    background-color: burlywood;
}
ul{
    display: flex;
    background-color: bisque;
    
}
.navigation{
    margin-left: 50px;
}