*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    text-decoration: none;
}
body{
    background-color: burlywood;
}
ul{
    display: flex;
    background-color: bisque;
    
}
.navigation{
    margin-left: 50px;
} 
li{
        list-style-type: none;
}
#main{
        width: 100vw;
        height: 100vh;
}
    /* #notes-display{
        margin-top: 10px;
        width: 100vw;
        height: 100vh;
        background-color: aquamarine;
    } */
.notes{
        margin: 10px;
        display: inline-block;
        background-color: black;
        width:300px;
        height:200px;
        border-radius: 9px;
        color: beige;
        padding: 10px;
}
img{
    position: relative;
    left: 50px;
}
/* button{
        position: relative;
        bottom:  -40px;
        left: 5px;
} */
#like-btn{
    position: static;
    top: 120px;
    left: 8px;
    display: block;
}
#inner{
   
    background-color: aqua;
    margin:1px;
    width:100%;
    height: 86%;
    font-size: small;
} 
#idinnerh4{
    display: block;
    position: relative;
    left: 200px;
    bottom: 10px;
}